{{#each this}}
<li class='movies__item'>
  <div class='movie__card'>
    <img
      class='movie__img'
      src='https://image.tmdb.org/t/p/w500/{{poster_path}}'
      loading='lazy'
      alt='{{original_title}}'
      data-src='https://image.tmdb.org/t/p/w500/{{backdrop_path}}'
    />

    <div class='movie__label'>
      <h3 class='movie__name'>{{title}}</h3>
      <p class='movie__genre'>{{genre_ids}}<span class='movie__year'>{{release_date}}</span></p>
    </div>
  </div>
</li>
{{/each}}